.has-margin-1 {
  margin: 0.75rem !important; }

.has-margin-b-1 {
  margin: 0 0 0.75rem 0 !important; }

.has-margin-l-1 {
  margin: 0 0 0 0.75rem !important; }

.has-margin-r-1 {
  margin: 0 0.75rem 0 0 !important; }

.has-margin-t-1 {
  margin: 0.75rem 0 0 0 !important; }

.has-margin-bl-1 {
  margin: 0 0 0.75rem 0.75rem !important; }

.has-margin-br-1 {
  margin: 0 0.75rem 0.75rem 0 !important; }

.has-margin-bt-1 {
  margin: 0.75rem 0 0.75rem 0 !important; }

.has-margin-lr-1 {
  margin: 0 0.75rem 0 0.75rem !important; }

.has-margin-lt-1 {
  margin: 0.75rem 0 0 0.75rem !important; }

.has-margin-rt-1 {
  margin: 0.75rem 0.75rem 0 0 !important; }

.has-margin-blr-1 {
  margin: 0 0.75rem 0.75rem 0.75rem !important; }

.has-margin-blt-1 {
  margin: 0.75rem 0 0.75rem 0.75rem !important; }

.has-margin-brt-1 {
  margin: 0.75rem 0.75rem 0.75rem 0 !important; }

.has-margin-lrt-1 {
  margin: 0.75rem 0.75rem 0 0.75rem !important; }

.has-padding-1 {
  padding: 0.75rem !important; }

.has-padding-b-1 {
  padding: 0 0 0.75rem 0 !important; }

.has-padding-l-1 {
  padding: 0 0 0 0.75rem !important; }

.has-padding-r-1 {
  padding: 0 0.75rem 0 0 !important; }

.has-padding-t-1 {
  padding: 0.75rem 0 0 0 !important; }

.has-padding-bl-1 {
  padding: 0 0 0.75rem 0.75rem !important; }

.has-padding-br-1 {
  padding: 0 0.75rem 0.75rem 0 !important; }

.has-padding-bt-1 {
  padding: 0.75rem 0 0.75rem 0 !important; }

.has-padding-lr-1 {
  padding: 0 0.75rem 0 0.75rem !important; }

.has-padding-lt-1 {
  padding: 0.75rem 0 0 0.75rem !important; }

.has-padding-rt-1 {
  padding: 0.75rem 0.75rem 0 0 !important; }

.has-padding-blr-1 {
  padding: 0 0.75rem 0.75rem 0.75rem !important; }

.has-padding-blt-1 {
  padding: 0.75rem 0 0.75rem 0.75rem !important; }

.has-padding-brt-1 {
  padding: 0.75rem 0.75rem 0.75rem 0 !important; }

.has-padding-lrt-1 {
  padding: 0.75rem 0.75rem 0 0.75rem !important; }

.has-margin-2 {
  margin: 1rem !important; }

.has-margin-b-2 {
  margin: 0 0 1rem 0 !important; }

.has-margin-l-2 {
  margin: 0 0 0 1rem !important; }

.has-margin-r-2 {
  margin: 0 1rem 0 0 !important; }

.has-margin-t-2 {
  margin: 1rem 0 0 0 !important; }

.has-margin-bl-2 {
  margin: 0 0 1rem 1rem !important; }

.has-margin-br-2 {
  margin: 0 1rem 1rem 0 !important; }

.has-margin-bt-2 {
  margin: 1rem 0 1rem 0 !important; }

.has-margin-lr-2 {
  margin: 0 1rem 0 1rem !important; }

.has-margin-lt-2 {
  margin: 1rem 0 0 1rem !important; }

.has-margin-rt-2 {
  margin: 1rem 1rem 0 0 !important; }

.has-margin-blr-2 {
  margin: 0 1rem 1rem 1rem !important; }

.has-margin-blt-2 {
  margin: 1rem 0 1rem 1rem !important; }

.has-margin-brt-2 {
  margin: 1rem 1rem 1rem 0 !important; }

.has-margin-lrt-2 {
  margin: 1rem 1rem 0 1rem !important; }

.has-padding-2 {
  padding: 1rem !important; }

.has-padding-b-2 {
  padding: 0 0 1rem 0 !important; }

.has-padding-l-2 {
  padding: 0 0 0 1rem !important; }

.has-padding-r-2 {
  padding: 0 1rem 0 0 !important; }

.has-padding-t-2 {
  padding: 1rem 0 0 0 !important; }

.has-padding-bl-2 {
  padding: 0 0 1rem 1rem !important; }

.has-padding-br-2 {
  padding: 0 1rem 1rem 0 !important; }

.has-padding-bt-2 {
  padding: 1rem 0 1rem 0 !important; }

.has-padding-lr-2 {
  padding: 0 1rem 0 1rem !important; }

.has-padding-lt-2 {
  padding: 1rem 0 0 1rem !important; }

.has-padding-rt-2 {
  padding: 1rem 1rem 0 0 !important; }

.has-padding-blr-2 {
  padding: 0 1rem 1rem 1rem !important; }

.has-padding-blt-2 {
  padding: 1rem 0 1rem 1rem !important; }

.has-padding-brt-2 {
  padding: 1rem 1rem 1rem 0 !important; }

.has-padding-lrt-2 {
  padding: 1rem 1rem 0 1rem !important; }

.has-margin-3 {
  margin: 1.25rem !important; }

.has-margin-b-3 {
  margin: 0 0 1.25rem 0 !important; }

.has-margin-l-3 {
  margin: 0 0 0 1.25rem !important; }

.has-margin-r-3 {
  margin: 0 1.25rem 0 0 !important; }

.has-margin-t-3 {
  margin: 1.25rem 0 0 0 !important; }

.has-margin-bl-3 {
  margin: 0 0 1.25rem 1.25rem !important; }

.has-margin-br-3 {
  margin: 0 1.25rem 1.25rem 0 !important; }

.has-margin-bt-3 {
  margin: 1.25rem 0 1.25rem 0 !important; }

.has-margin-lr-3 {
  margin: 0 1.25rem 0 1.25rem !important; }

.has-margin-lt-3 {
  margin: 1.25rem 0 0 1.25rem !important; }

.has-margin-rt-3 {
  margin: 1.25rem 1.25rem 0 0 !important; }

.has-margin-blr-3 {
  margin: 0 1.25rem 1.25rem 1.25rem !important; }

.has-margin-blt-3 {
  margin: 1.25rem 0 1.25rem 1.25rem !important; }

.has-margin-brt-3 {
  margin: 1.25rem 1.25rem 1.25rem 0 !important; }

.has-margin-lrt-3 {
  margin: 1.25rem 1.25rem 0 1.25rem !important; }

.has-padding-3 {
  padding: 1.25rem !important; }

.has-padding-b-3 {
  padding: 0 0 1.25rem 0 !important; }

.has-padding-l-3 {
  padding: 0 0 0 1.25rem !important; }

.has-padding-r-3 {
  padding: 0 1.25rem 0 0 !important; }

.has-padding-t-3 {
  padding: 1.25rem 0 0 0 !important; }

.has-padding-bl-3 {
  padding: 0 0 1.25rem 1.25rem !important; }

.has-padding-br-3 {
  padding: 0 1.25rem 1.25rem 0 !important; }

.has-padding-bt-3 {
  padding: 1.25rem 0 1.25rem 0 !important; }

.has-padding-lr-3 {
  padding: 0 1.25rem 0 1.25rem !important; }

.has-padding-lt-3 {
  padding: 1.25rem 0 0 1.25rem !important; }

.has-padding-rt-3 {
  padding: 1.25rem 1.25rem 0 0 !important; }

.has-padding-blr-3 {
  padding: 0 1.25rem 1.25rem 1.25rem !important; }

.has-padding-blt-3 {
  padding: 1.25rem 0 1.25rem 1.25rem !important; }

.has-padding-brt-3 {
  padding: 1.25rem 1.25rem 1.25rem 0 !important; }

.has-padding-lrt-3 {
  padding: 1.25rem 1.25rem 0 1.25rem !important; }

.has-margin-4 {
  margin: 1.5rem !important; }

.has-margin-b-4 {
  margin: 0 0 1.5rem 0 !important; }

.has-margin-l-4 {
  margin: 0 0 0 1.5rem !important; }

.has-margin-r-4 {
  margin: 0 1.5rem 0 0 !important; }

.has-margin-t-4 {
  margin: 1.5rem 0 0 0 !important; }

.has-margin-bl-4 {
  margin: 0 0 1.5rem 1.5rem !important; }

.has-margin-br-4 {
  margin: 0 1.5rem 1.5rem 0 !important; }

.has-margin-bt-4 {
  margin: 1.5rem 0 1.5rem 0 !important; }

.has-margin-lr-4 {
  margin: 0 1.5rem 0 1.5rem !important; }

.has-margin-lt-4 {
  margin: 1.5rem 0 0 1.5rem !important; }

.has-margin-rt-4 {
  margin: 1.5rem 1.5rem 0 0 !important; }

.has-margin-blr-4 {
  margin: 0 1.5rem 1.5rem 1.5rem !important; }

.has-margin-blt-4 {
  margin: 1.5rem 0 1.5rem 1.5rem !important; }

.has-margin-brt-4 {
  margin: 1.5rem 1.5rem 1.5rem 0 !important; }

.has-margin-lrt-4 {
  margin: 1.5rem 1.5rem 0 1.5rem !important; }

.has-padding-4 {
  padding: 1.5rem !important; }

.has-padding-b-4 {
  padding: 0 0 1.5rem 0 !important; }

.has-padding-l-4 {
  padding: 0 0 0 1.5rem !important; }

.has-padding-r-4 {
  padding: 0 1.5rem 0 0 !important; }

.has-padding-t-4 {
  padding: 1.5rem 0 0 0 !important; }

.has-padding-bl-4 {
  padding: 0 0 1.5rem 1.5rem !important; }

.has-padding-br-4 {
  padding: 0 1.5rem 1.5rem 0 !important; }

.has-padding-bt-4 {
  padding: 1.5rem 0 1.5rem 0 !important; }

.has-padding-lr-4 {
  padding: 0 1.5rem 0 1.5rem !important; }

.has-padding-lt-4 {
  padding: 1.5rem 0 0 1.5rem !important; }

.has-padding-rt-4 {
  padding: 1.5rem 1.5rem 0 0 !important; }

.has-padding-blr-4 {
  padding: 0 1.5rem 1.5rem 1.5rem !important; }

.has-padding-blt-4 {
  padding: 1.5rem 0 1.5rem 1.5rem !important; }

.has-padding-brt-4 {
  padding: 1.5rem 1.5rem 1.5rem 0 !important; }

.has-padding-lrt-4 {
  padding: 1.5rem 1.5rem 0 1.5rem !important; }

.has-margin-5 {
  margin: 2rem !important; }

.has-margin-b-5 {
  margin: 0 0 2rem 0 !important; }

.has-margin-l-5 {
  margin: 0 0 0 2rem !important; }

.has-margin-r-5 {
  margin: 0 2rem 0 0 !important; }

.has-margin-t-5 {
  margin: 2rem 0 0 0 !important; }

.has-margin-bl-5 {
  margin: 0 0 2rem 2rem !important; }

.has-margin-br-5 {
  margin: 0 2rem 2rem 0 !important; }

.has-margin-bt-5 {
  margin: 2rem 0 2rem 0 !important; }

.has-margin-lr-5 {
  margin: 0 2rem 0 2rem !important; }

.has-margin-lt-5 {
  margin: 2rem 0 0 2rem !important; }

.has-margin-rt-5 {
  margin: 2rem 2rem 0 0 !important; }

.has-margin-blr-5 {
  margin: 0 2rem 2rem 2rem !important; }

.has-margin-blt-5 {
  margin: 2rem 0 2rem 2rem !important; }

.has-margin-brt-5 {
  margin: 2rem 2rem 2rem 0 !important; }

.has-margin-lrt-5 {
  margin: 2rem 2rem 0 2rem !important; }

.has-padding-5 {
  padding: 2rem !important; }

.has-padding-b-5 {
  padding: 0 0 2rem 0 !important; }

.has-padding-l-5 {
  padding: 0 0 0 2rem !important; }

.has-padding-r-5 {
  padding: 0 2rem 0 0 !important; }

.has-padding-t-5 {
  padding: 2rem 0 0 0 !important; }

.has-padding-bl-5 {
  padding: 0 0 2rem 2rem !important; }

.has-padding-br-5 {
  padding: 0 2rem 2rem 0 !important; }

.has-padding-bt-5 {
  padding: 2rem 0 2rem 0 !important; }

.has-padding-lr-5 {
  padding: 0 2rem 0 2rem !important; }

.has-padding-lt-5 {
  padding: 2rem 0 0 2rem !important; }

.has-padding-rt-5 {
  padding: 2rem 2rem 0 0 !important; }

.has-padding-blr-5 {
  padding: 0 2rem 2rem 2rem !important; }

.has-padding-blt-5 {
  padding: 2rem 0 2rem 2rem !important; }

.has-padding-brt-5 {
  padding: 2rem 2rem 2rem 0 !important; }

.has-padding-lrt-5 {
  padding: 2rem 2rem 0 2rem !important; }

.has-margin-6 {
  margin: 2.5rem !important; }

.has-margin-b-6 {
  margin: 0 0 2.5rem 0 !important; }

.has-margin-l-6 {
  margin: 0 0 0 2.5rem !important; }

.has-margin-r-6 {
  margin: 0 2.5rem 0 0 !important; }

.has-margin-t-6 {
  margin: 2.5rem 0 0 0 !important; }

.has-margin-bl-6 {
  margin: 0 0 2.5rem 2.5rem !important; }

.has-margin-br-6 {
  margin: 0 2.5rem 2.5rem 0 !important; }

.has-margin-bt-6 {
  margin: 2.5rem 0 2.5rem 0 !important; }

.has-margin-lr-6 {
  margin: 0 2.5rem 0 2.5rem !important; }

.has-margin-lt-6 {
  margin: 2.5rem 0 0 2.5rem !important; }

.has-margin-rt-6 {
  margin: 2.5rem 2.5rem 0 0 !important; }

.has-margin-blr-6 {
  margin: 0 2.5rem 2.5rem 2.5rem !important; }

.has-margin-blt-6 {
  margin: 2.5rem 0 2.5rem 2.5rem !important; }

.has-margin-brt-6 {
  margin: 2.5rem 2.5rem 2.5rem 0 !important; }

.has-margin-lrt-6 {
  margin: 2.5rem 2.5rem 0 2.5rem !important; }

.has-padding-6 {
  padding: 2.5rem !important; }

.has-padding-b-6 {
  padding: 0 0 2.5rem 0 !important; }

.has-padding-l-6 {
  padding: 0 0 0 2.5rem !important; }

.has-padding-r-6 {
  padding: 0 2.5rem 0 0 !important; }

.has-padding-t-6 {
  padding: 2.5rem 0 0 0 !important; }

.has-padding-bl-6 {
  padding: 0 0 2.5rem 2.5rem !important; }

.has-padding-br-6 {
  padding: 0 2.5rem 2.5rem 0 !important; }

.has-padding-bt-6 {
  padding: 2.5rem 0 2.5rem 0 !important; }

.has-padding-lr-6 {
  padding: 0 2.5rem 0 2.5rem !important; }

.has-padding-lt-6 {
  padding: 2.5rem 0 0 2.5rem !important; }

.has-padding-rt-6 {
  padding: 2.5rem 2.5rem 0 0 !important; }

.has-padding-blr-6 {
  padding: 0 2.5rem 2.5rem 2.5rem !important; }

.has-padding-blt-6 {
  padding: 2.5rem 0 2.5rem 2.5rem !important; }

.has-padding-brt-6 {
  padding: 2.5rem 2.5rem 2.5rem 0 !important; }

.has-padding-lrt-6 {
  padding: 2.5rem 2.5rem 0 2.5rem !important; }

.has-margin-7 {
  margin: 3rem !important; }

.has-margin-b-7 {
  margin: 0 0 3rem 0 !important; }

.has-margin-l-7 {
  margin: 0 0 0 3rem !important; }

.has-margin-r-7 {
  margin: 0 3rem 0 0 !important; }

.has-margin-t-7 {
  margin: 3rem 0 0 0 !important; }

.has-margin-bl-7 {
  margin: 0 0 3rem 3rem !important; }

.has-margin-br-7 {
  margin: 0 3rem 3rem 0 !important; }

.has-margin-bt-7 {
  margin: 3rem 0 3rem 0 !important; }

.has-margin-lr-7 {
  margin: 0 3rem 0 3rem !important; }

.has-margin-lt-7 {
  margin: 3rem 0 0 3rem !important; }

.has-margin-rt-7 {
  margin: 3rem 3rem 0 0 !important; }

.has-margin-blr-7 {
  margin: 0 3rem 3rem 3rem !important; }

.has-margin-blt-7 {
  margin: 3rem 0 3rem 3rem !important; }

.has-margin-brt-7 {
  margin: 3rem 3rem 3rem 0 !important; }

.has-margin-lrt-7 {
  margin: 3rem 3rem 0 3rem !important; }

.has-padding-7 {
  padding: 3rem !important; }

.has-padding-b-7 {
  padding: 0 0 3rem 0 !important; }

.has-padding-l-7 {
  padding: 0 0 0 3rem !important; }

.has-padding-r-7 {
  padding: 0 3rem 0 0 !important; }

.has-padding-t-7 {
  padding: 3rem 0 0 0 !important; }

.has-padding-bl-7 {
  padding: 0 0 3rem 3rem !important; }

.has-padding-br-7 {
  padding: 0 3rem 3rem 0 !important; }

.has-padding-bt-7 {
  padding: 3rem 0 3rem 0 !important; }

.has-padding-lr-7 {
  padding: 0 3rem 0 3rem !important; }

.has-padding-lt-7 {
  padding: 3rem 0 0 3rem !important; }

.has-padding-rt-7 {
  padding: 3rem 3rem 0 0 !important; }

.has-padding-blr-7 {
  padding: 0 3rem 3rem 3rem !important; }

.has-padding-blt-7 {
  padding: 3rem 0 3rem 3rem !important; }

.has-padding-brt-7 {
  padding: 3rem 3rem 3rem 0 !important; }

.has-padding-lrt-7 {
  padding: 3rem 3rem 0 3rem !important; }

.hide-overflow-x {
  overflow-x: hidden; }

.hide-overflow-y {
  overflow-y: hidden; }

.hide-overflow {
  overflow: hidden; }

.has-position-absolute {
  position: absolute; }

.has-position-relative {
  position: relative; }

.has-position-fixed {
  position: fixed; }

.has-flex-center-items {
  display: flex;
  align-items: center; }

.has-flex-start-items {
  display: flex;
  align-items: flex-start; }

.has-flex-end-items {
  display: flex;
  align-items: end; }

.is-italic {
  font-style: italic; }

.unbreakable-text {
  white-space: nowrap; }

.is-circle {
  border-radius: 60px; }
